<body>
    {% for ip in hosts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ ip.ip }}
          
        </h3>
      </div>
      <div class="panel-body">
        {{ ip.hostname }}
      </div>

    </div> <!-- panel -->
    {% endfor %}

    {% for e in id %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ e }}
          
        </h3>
      </div>
      

    </div> <!-- panel -->
    {% endfor %}
</body>